<div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Create Tournament</h3>
		</div>
		<div class="panel-body">
			<form ng-submit="createTournament()">
				<input ng-model="tournament.name" type="text" class="form-control" placeholder="Name">
				<select class="custom-select" ng-model="tournament.coach.id">
				    <option ng-repeat="c in allCoaches" value="{{c.id}}">{{c.name}}</option>
				</select><br/>
				<input type="submit" value="Create" class="btn btn-lg btn-success">
			</form>
		</div>
	</div>
</div>