<div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Join Tournament</h3>
		</div>
		<div class="panel-body">
			<form ng-submit="joinTournament()">
				<select class="custom-select" ng-model="tournamentId">
				    <option ng-repeat="t in allTournaments" value="{{t.id}}">{{t.name}}</option>
				</select><br/>
				<select class="custom-select" ng-model="playerId">
				    <option ng-repeat="p in allPlayers" value="{{p.id}}">{{p.name}}</option>
				</select><br/>
				<input type="submit" value="Join" class="btn btn-lg btn-success">
			</form>
		</div>
	</div>
</div>